body {
    background-color: white
}
.header-logo {
text-decoration: none;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 117%;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}
.logo-head {
    color: #4D5AE5;
}
.Effective-solutions {
    background-color: #2E2F42;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
}

.footer-logo {

}

ul, ol {
    list-style-type: none;
}